<section class="page-container">

  <div class="breadcrumb">
    <span>ADMIN</span>
    <small>CADASTRAR ADMIN</small>
    <small>›</small>
  </div>

  <h1>Cadastrar Novo Administrador</h1>

  <div class="form-wrapper">

    <div class="form-card">

      <div class="icon-box">
        👥
      </div>

      <h2>Cadastro de Admin</h2>

      <form (ngSubmit)="cadastrarAdmin()">

        <div class="form-group full">
          <label>Nome Completo</label>
          <input
            type="text"
            name="nome"
            placeholder="Ex: Dr. Roberto Silva"
            [(ngModel)]="admin.nome">
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>E-mail Profissional</label>
            <input
              type="email"
              name="email"
              placeholder="roberto.silva@petvital.com"
              [(ngModel)]="admin.email">
          </div>

          <div class="form-group">
            <label>CPF</label>
            <input
              type="text"
              name="cpf"
              maxlength="14"
              placeholder="000.000.000-00"
              [(ngModel)]="admin.cpf">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Cargo/Função</label>
            <input
              type="text"
              name="cargo"
              placeholder="Ex: Gerente Operacional"
              [(ngModel)]="admin.cargo">
          </div>

          <div class="form-group">
            <label>Nível de Acesso</label>
            <select name="nivelAcesso" [(ngModel)]="admin.nivelAcesso">
              <option value="">Selecione um nível</option>
              <option value="TOTAL">Total</option>
              <option value="INTERMEDIÁRIO">Intermediário</option>
              <option value="BÁSICO">Básico</option>
            </select>
          </div>
        </div>

        <div class="form-group full">
          <label>Senha Temporária</label>

          <div class="password-box">
            <input
              [type]="mostrarSenha ? 'text' : 'password'"
              name="senha"
              placeholder="••••••••"
              [(ngModel)]="admin.senha">

            <button type="button" (click)="alternarSenha()">
              👁
            </button>
          </div>

          <p>O usuário será solicitado a alterar a senha no primeiro login.</p>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn-cadastrar">
            Cadastrar Administrador
            <span>→</span>
          </button>

          <button type="button" class="btn-cancelar" (click)="cancelar()">
            Cancelar
          </button>
        </div>

      </form>

    </div>

  </div>

</section>