.footer {
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 60px 80px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

.logo img {
  width: 30px;
  height: 30px;
}

.decor img {
  margin-top: 40px;
  width: 200px;
  opacity: 0.8;
}

.footer-links {
  display: flex;
  gap: 80px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column h4 {
  margin-bottom: 10px;
  font-size: 14px;
  color: #cccccc;
}

.column a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: 0.3s;
}

.column a:hover {
  color: #4a6cff;
}

.footer-bottom {
  margin-top: 50px;
  border-top: 1px solid #2a2a2a;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-size: 12px;
  color: #aaa;
}

.socials {
  display: flex;
  gap: 15px;
}

.socials img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: brightness(0.8);
  transition: 0.3s;
}

.socials img:hover {
  filter: brightness(1.5);
}