<footer class="footer">

  <div class="footer-brand">
    <div class="footer-logo">
      <img src="assets/img/logo.png" alt="PetVitaliz" />
    </div>
  </div>

  <img
    class="footer-paw-big"
    src="assets/img/banner.png"
    alt="Pata decorativa"
  />

  <div class="footer-links">
    <div>
      <h3>Features</h3>
      <a routerLink="/sobre-nos">About Us</a>
      <a routerLink="/sobre-nos">Our Team</a>
    </div>

    <div>
      <h3>Solutions</h3>
      <a routerLink="/servicos">Service</a>
      <a routerLink="/home">Testimonials</a>
    </div>

    <div>
      <h3>Resources</h3>
      <a routerLink="/usuario/planos-pet">Pricing</a>
    </div>

    <div>
      <h3>About</h3>
      <a routerLink="/sobre-nos">Industry Insight</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>2025 PetVitaliz, All right reserved</p>

    <div class="footer-social">
      <a href="#" target="_blank">
        <img src="assets/img/Instagram.png" alt="Instagram" />
      </a>

      <a href="#" target="_blank">
        <img src="assets/img/Behance.png" alt="Behance" />
      </a>

      <a href="#" target="_blank">
        <img src="assets/img/Dribbble.png" alt="Dribbble" />
      </a>

      <a href="#" target="_blank">
        <img src="assets/img/LinkedIn.png" alt="LinkedIn" />
      </a>
    </div>
  </div>

</footer>