<footer class="footer">
  <div class="footer-container">

    <!-- LOGO -->
    <div class="footer-left">
      <div class="logo">
        <img src="" alt="logo">
        <span>PetVital</span>
      </div>

      <!-- IMAGEM DECORATIVA -->
      <div class="decor">
        <img src="" alt="decor">
      </div>
    </div>

    <!-- LINKS -->
    <div class="footer-links">

      <div class="column">
        <h4>Features</h4>
        <a href="#">About Us</a>
        <a href="#">Our Team</a>
      </div>

      <div class="column">
        <h4>Solutions</h4>
        <a href="#">Service</a>
        <a href="#">Testimonials</a>
      </div>

      <div class="column">
        <h4>Resources</h4>
        <a href="#">Pricing</a>
      </div>

      <div class="column">
        <h4>About</h4>
        <a href="#">Industry Insight</a>
      </div>

    </div>
  </div>

  <!-- RODAPÉ -->
  <div class="footer-bottom">
    <p>2025 PetVital, All right reserved</p>

    <div class="socials">
      <img src="assets/img/Instagram.png" alt="instagram">
      <img src="assets/img/Behance.png" alt="behance">
      <img src="assets/img/Dribbble.png" alt="dribbble">
      <img src="assets/img/LinkedIn.png" alt="linkedin">
    </div>
  </div>
</footer>