<section class="forgot-page">
  <div class="card">
    <h2>Esqueceu sua senha?</h2>

    <div class="form-group">
      <label>Digite seu e-mail</label>
      <input type="email" placeholder="Digite seu e-mail" />
    </div>

    <button class="btn-primary">Enviar link</button>

    <p class="info">
      Não se preocupe, enviaremos instruções para redefinir sua senha com segurança.
    </p>

    <button class="btn-outline" routerLink="/login">
      Voltar para login
    </button>
  </div>
</section>