<main class="adocao-page">
  <section class="adocao-hero">
    <div class="adocao-content">
      <span class="adocao-badge">Seu amigo espera por você</span>

      <h1>
        Encontre seu novo
        melhor amigo na<br />
        Petvitaliz
      </h1>

      <p>
        Adotar é um ato de amor que transforma vidas. Na PetVitaliz,
        conectamos animais resgatados a lares cheios de carinho e
        responsabilidade.
      </p>

      <a (click)="irParaHome()" class="adocao-button">
        Venha nos visitar
      </a>
    </div>

    <div class="adocao-image-area">
      <img class="adocao-pets" [src]="imgPetsAdocao" alt="Cachorro e gato" />
    </div>
  </section>

  <section class="adocao-profile-section">
    <div class="adocao-profile-card">
      <div class="adocao-profile-gallery">
        <div class="adocao-main-image-box">
          <img class="adocao-main-image" [src]="petsAdocao[petSelecionado].imagemPrincipal"
            [alt]="petsAdocao[petSelecionado].nome" />

          <div class="adocao-image-note">
            <img [src]="petsAdocao[petSelecionado].imagemMini1" [alt]="petsAdocao[petSelecionado].nome" />

            <p>
              {{ petsAdocao[petSelecionado].destaque }}
            </p>
          </div>
        </div>

        <div class="adocao-thumbs">
          <img [src]="petsAdocao[petSelecionado].imagemMini1" alt="Foto pet 1" />
          <img [src]="petsAdocao[petSelecionado].imagemMini2" alt="Foto pet 2" />
          <img [src]="petsAdocao[petSelecionado].imagemMini3" alt="Foto pet 3" />
        </div>
      </div>

      <div class="adocao-profile-info">
        <div class="adocao-profile-arrows">
          <button type="button" (click)="petAnterior()">←</button>
          <button type="button" (click)="proximoPet()">→</button>
        </div>

        <h2>{{ petsAdocao[petSelecionado].titulo }}</h2>

        <p class="adocao-profile-description">
          {{ petsAdocao[petSelecionado].descricao }}
        </p>

        <div class="adocao-profile-tags">
          @for (tag of petsAdocao[petSelecionado].tags; track tag) {
          <span>{{ tag }}</span>
          }
        </div>

        <div class="adocao-profile-buttons">
          <a (click)="irParaContato()">
            Adote {{ petsAdocao[petSelecionado].nome }} Hoje
          </a>

          <a (click)="irParaContato()">
            Processo de Adoção
          </a>
        </div>
      </div>
    </div>
  </section>

</main>